{% extends "base.html" %}

{% block title %}Review{% endblock %}
{% block content %}
{% load user_tag %}
{% if not error %}

<div class="row" >
    <!--<div class="col-md-12" id="progress-label">-->
        <!--<span style="" class="label label-default">Progress</span>-->
    <!--</div>-->
    <div class="col-md-12">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress.total }}%; color:black">
                {{ progress.total }}%
            </div>
        </div>
    </div>
</div>

{% if no_tag %}
<div class="row">
    <div class="col-md-12">
        <div><span style="font-size:11px;border-radius:0;background-color:#286090;" class="label label-default">No-Tag</span></div>
<div style="margin-top:2px;"><span  style="font-size:28px;color: dark-blue">{{text}}</span> <small style="font-size: 16px;"> was found <span style="color: black;">{{ frequency }} </span>times in catalog</small></h2></div>
    </div>
    <div class="col-md-6">
        {% for text_val in mentioned_in %}
            <p>{{text_val}}<p>
        {% endfor %}
        </div>

    <div class="col-md-6" id="associate-no-tag">
        <p>Associate Entity with <b>{{ text }}</b></p>
        <input type="text" class="col-md-6" id="no-tag-entities">
        <button class="pull-right btn btn-primary btn-sm hidden" id="associate-btn">Associate</button>
        <button class="pull-right btn btn-primary btn-sm hidden" id="add_new_entity">Add new Entity</button>
        <div class="panel panel-default hidden col-md-12">
          <div class="panel-body">
          </div>
        </div>
    </div>
</div>
{% else %}
<div class="row">
<div class="col-md-11">
{% if concept_type == "entity_url" %}
<div><span style="font-size:11px;border-radius:0;background-color:#286090;" class="label label-default">CONCEPT</span></div>
<div style="margin-top:2px;"><span  style="font-size:28px;color: dark-blue">{{text|removeprefix}}</span> <small style="font-size: 16px;"> was found <span style="color: black;">{{ frequency }} </span>times in catalog</small></h2></div>
<h5 style="padding-bottom:10px; padding-top:10px; color: #777;">Smarter.Codes thinks that there are various names for <span style="color: black;">{{text}}</span> . But Smarter.Codes can be wrong! Help us understand it better by choosing the right synonms of {{ text }}</h5>
{% else %}
<div><span style="font-size:11px;border-radius:0;" class="label label-default">KEYWORD</span> </div>
<div style="margin-top:2px;"><span  style="font-size:28px;color: dark-blue">{{text}}</span> <small style="font-size:16px;">   was found <span style="color: black;">{{ frequency }} </span>times in catalog </small></h2></div>
<h5 style="padding-bottom:10px; padding-top:10px; color: #777;">Smarter.Codes thinks of '{{ synonyms|length }} different concepts' when someone talks about {{ text }}. Please help reduce this confusion of Smarter.Codes by choosing 1 concept that it should think when '{{text}}' is being talked about</h5>
{% endif %}
    </div>
<div class="col-md-1">
<div class="pull-right" style="padding-left:0px;">

                   <button class="btn btn-primary pull-right save_and_next">Save & Move to next</button>
               </br>
                   <button type="button" class="btn btn-link skip_question">Skip This Question</button>
               </div>
</div>
    </div>
    <div class="row">
	   <div class="form-horizontal" role="form">

            <div class="col-md-6">
                {% if synonyms %}
	           <div class="panel panel-info">
              <div class="panel-heading">
              {% if concept_type == 'entity_url' %}
                  Suggestions:
                  {% else %}Prefer to choose 1 answer below. You can choose multiple only if it is very very necessary{% endif %}
              </div>
              <div class="panel-body" style="height:400px; overflow-y:scroll;">
	           <div class="form-group">
                   {% for synonym in synonyms %}
		           {% for surface_text, val in synonym.items %}
                      <div class="col-md-12 synonym_checkbox">
		                  <div class="checkbox-inline">
		                    <label>
		                      <input class="synonyms" name="bold[]" type="checkbox" value="{{ val.id }}" {% if val.checked %}Checked{% endif %}><span class="surface_text">{{ surface_text }}</span>

                                <span class="text-muted">
                                    {% if concept_type == 'entity_url' %}
                                    ({{ val.frequency }}) {% endif %}
                                    {% if user.is_superuser %}
                                    {% for trainer in val.trainers %} <span class="label label-primary" style = "background-color: {{ trainer|get_colourcode }}"> {{ trainer|getusername }}</span>{% endfor %}</span>
                                    {% endif %}
                            </label>
		                  </div>
                         <span class="glyphicon glyphicon-play pull-right text-muted" aria-hidden="true" style="padding-top:5px; font-size: 15px;"></span>
                          <i class="loader pull-right"><img src="http://jalbum.net/en/resources/org.apache.wicket.ajax.AbstractDefaultAjaxBehavior/indicator.gif"></i>
	                  </div>

	              {% endfor %}
                   {% endfor %}
              </div>
              </div>
              </div>
              {% endif %}
	       </div>
           <div class="col-md-6" id="wikki-div">
            <div id="wikki-text">
                <span id="redirected_text" class="text-warning"></span>
                <div class="col-md-12 text-muted">
                <span id="source" class="pull-right"></span>
                    </div>
               <h4></h4>
                <!--<div class="col-md-12 text-muted">-->
                <!--<span id="source" class="pull-right"></span>-->
                    <!--</div>-->
               <div class="wiki-image pull-right"></div>
                <p></p>
            </div>
               <h5 class="text-muted"></h5>
           </div>
            <div class="col-md-12">
                              {% if concept_type == "entity_url" %}
                <div class="panel panel-info">
              <div class="panel-heading">
              Didn't find the right name? Enter your own naming suggestion for '{{text}}'
              </div>
              <div class="panel-body">
              <div class="col-md-12">
               <div class="form-group">
                    <textarea class="form-control" name="user_defined[]" id="user_defined"></textarea>
                    <p class="help-block">For  multiple values use a comma as separator. For e.g Sub, Submarine Sandwich</p>
               </div>
               </div>
               </div>
               </div>
                {% endif %}
            </div>
           <div class="col-md-12">

		       <div class="form-group col-md-12 pull-right">
                   <button class="btn btn-primary pull-right save_and_next">Save & Move to next</button>
               </div>
               <div class="pull-right" style="padding-left:0px;">
                     <!--<p class="text-muted" style="margin-bottom:0;">unsure about suggestions ??</p>-->

                   <button type="button" class="btn btn-link skip_question">Skip This Question</button>
                     {% if skipped_by and user.is_superuser %}
               </div>
               <div class=" col-md-12">
                     <p class="text-muted pull-right">Already skipped by : {% for trainer in skipped_by %}<span class="label label-default" style="margin-right: 3px;background-color: {{ trainer|get_colourcode }}"> {{ trainer|getusername }}</span>{% endfor %}</p>
                   </div>
                   {% endif %}
                 </div>
           </div>
       </div>
{% endif %}
        {% else %}
        <div class="alert alert-warning" role="alert">
            No further information is available. (The requested entity is unknown)
        </div>
        {% endif %}
	</div>

{% endblock %}
{% block jquery %}
<script>
    $(document).ready(function(e){
    {% if not no_tag %}
        checked = [];
        unchecked = [];
        question = ['{{ question }}',{{ frequency }},'{{ concept_type }}']
        var url = '';
        $(".save_and_next").on("click", function(){
            $('input.synonyms[type=checkbox]').each(function () {
                (this.checked ? checked.push($(this).val()) : unchecked.push($(this).val()));
            });
        {% if concept_type == "surface_text" %}
        user_defined = ''
        url = "/review/save/surface_text/{{ entity }}"
        {% else %}
        url = "/review/save/{{ entity }}"
        user_defined =  $("#user_defined").val().split(',');
        {% endif %}

            $.ajax({
              type: "POST",
              url: url,
              data: {'checked': checked, 'unchecked': unchecked, 'user_defined': user_defined, 'question': question},
            }).success(function(){
                window.location.href = "/review";
            }).fail(function(){
                alert("failed");
            });
        });
        $(".skip_question").on("click", function(){
            $('input.synonyms[type=checkbox]').each(function () {
                unchecked.push($(this).val());
            });
            url = "/review/skip"
            $.ajax({
              type: "POST",
              url: url,
              data: {'synonyms': unchecked, 'question':question},
            }).success(function(data){
                window.location.href = "/review"

            }).fail(function(){
                alert("failed to upload result. Please try again.");
            });
        });

    $( ".synonym_checkbox").on('click', function() {
        var color = 'rgb(242, 239, 239)';
        $('.synonym_checkbox').filter(function(){
            return ($(this).css("background-color") == color);
        }).css("background-color", "white");

        var text =  $(this).find('label .surface_text').text();
        var $this = $(this);
        $this.find(".glyphicon").hide();
        $this.find(".loader").css("visibility", "visible");
        $this.css("background-color", color);
    var ajax_request = get_wikki_text(text, $this);
});
    function get_wikki_text(text, $this){
    var s_name = text;
    $.ajax({
        type: "GET",
        url: "http://en.wikipedia.org/w/api.php?action=parse&format=json&prop=text&section=0&page="+text+"&callback=?",
        contentType: "application/json; charset=utf-8",
        async: false,
        dataType: "json",
        success: function (data, textStatus, jqXHR) {
            console.log(data);
            if (data.error){
                $('#wikki-text p').html( '<p class="text-danger"> Wikipedia said no page exists with name '+ s_name+'</p>');
                $('#wikki-text h4').html( '');
                $('#wikki-text #redirected_text').html( '');
                $('#wikki-text #source').html("");
                $this.find(".loader").css("visibility", "hidden");
                $this.find(".glyphicon").show();
                $("#wikki-text").css("overflow", "hidden");
            $('#wikki-div').find('h5').html('');
            }
            if (data.parse.title){
            var markup = data.parse.text["*"];
            var blurb = $('<div></div>').html(markup);
            // remove links as they will not work
            blurb.find('a').each(function() { $(this).replaceWith($(this).html()); });

            // remove any references
            blurb.find('sup').remove();

            // remove cite error
            blurb.find('.mw-ext-cite-error').remove();


            if ($(blurb).find('p').text() === "Redirect to:"){
                var text = $(blurb).find(".redirectText").text().split('#')
                $('#wikki-text #redirected_text').html("Redirected by wikipedia to " +text[0])
                get_wikki_text(text[0], $this);
            }
            else{
            $('#wikki-text h4').html('<a target="_blank" href="http://en.wikipedia.org/wiki/'+s_name+'" style="text-decoration:none">'+data.parse.title+'</a>');

            var id = $this.find('.synonyms').val();
            $.ajax({
              type: "get",
              url: "/entity/details/how_this_record/"+id,
            }).success(function(data){
                $('#wikki-text #source').html("Source : "+ data);
            }).fail(function(){
                console.log('source data not found ')
            });

            if (blurb.find('.thumbinner')[0]){
            $('#wikki-text .wiki-image').html(blurb.find('.thumbinner')[0]).addClass('thumbnail').find(".thumbcaption").hide();
            }else{
            $('#wikki-text .wiki-image').html('');
            }
            $('#wikki-text p').html($(blurb).find('p').text());
            }
            }else{
            $('#wikki-text p').html("Not found");
            }

             $this.find(".glyphicon").show();
            $this.find(".loader").css("visibility", "hidden");
            $("#wikki-text").css("overflow-y", "scroll");
            $('#wikki-div').find('h5').html('For further information <a target="_blank" href="http://en.wikipedia.org/wiki/'+s_name+'" >Click Here</a> ');
        },
        error: function (errorMessage) {

        }
    });
}
{% else %}
        var typingTimer;                //timer identifier
        var doneTypingInterval = 10000;  //time in ms, 4 second

        //on keyup, start the countdown
        $("#no-tag-entities").keyup(function(){
            clearTimeout(typingTimer);
            var $this = $(this);
            if($this.val().length > 2){
                typingTimer = setTimeout(doneTyping($(this)), doneTypingInterval);
            }else{
                $(".panel-body").append("<p>No results found.</p>");
                $("#associate-btn").addClass("hidden");
                $("#add_new_entity").addClass("hidden");
            }
        });

        //on keydown, clear the countdown
        $("#no-tag-entities").keydown(function(){
            $(".panel-body").empty();
            clearTimeout(typingTimer);
        });

        //user is "finished typing," do something
        function doneTyping ($this) {
            val = $this.val();
            var panel = $this.siblings(".panel");
            panel.removeClass("hidden");
            $("#add_new_entity").removeClass("hidden");
            $(".panel-body").empty();
            $("#associate-btn").addClass("hidden");
            $.ajax({
                  type: "GET",
                  url: '/no-tags?data='+val,
            }).success(function(data){
                if (data.length > 2){
                     $.each(eval(data.replace(/[\r\n]/, "")), function(i, item) {
                        console.log(item.entity_url);
                        if (item.entity_url.indexOf("DBPedia") >= 0 || item.entity_url.indexOf("SmarterCodes") >= 0){
                            var entity_url = removePrefix(item.entity_url);
                            if(entity_url){
                                $(".panel-body").append("<label><input type='radio' name='entity' value='"+ item.entity_url +"'> "+ entity_url +" </label></br>");
                            }
                        }

                    });
                }else{
                    $(".panel-body").empty();
                    $("#associate-btn").addClass("hidden");
                    $(".panel-body").append("<p>No results found. Add new entity with this name ??</p></br><button class='btn btn-primary' id='add_entity'>Add Entity</button>");
                    $("#add_new_entity").addClass("hidden");
                    $("#add_entity").on("click", function(){
                        entity = $("#no-tag-entities").val();
                        associateEntity(entity, true);
                    });
                }
            }).fail(function(){
                console.log("fail")
            });
        }

        function removePrefix(entity_url){
            if (entity_url.indexOf(">") > 0){
                return entity_url.split(">")[1].replace(/\-/g, " ").replace(/\_/g, " ")
            }
            return false

        }

        $('.panel-body').on("change", function(){
            var checked = $('input[type="radio"]:checked', '.panel-body').val();
            $("#associate-btn").removeClass("hidden");

        });
        $("#associate-btn").on("click", function(){
            var checked = $('input[type="radio"]:checked', '.panel-body').val();

            associateEntity(checked, false);
        });
        $("#add_new_entity").on("click", function(){
            entity = $("#no-tag-entities").val();
            associateEntity(entity, true);
        });

        function associateEntity(entity, new_entity){
            $.ajax({
              type: "POST",
              url: "/no-tags/associate/",
              data: {"entity": entity,"surface_text": "{{text}}", "new": new_entity},
            }).success(function(data){
              var obj = jQuery.parseJSON(data);
                  if (obj.url == "reload"){
                    window.location.reload();
                  }else{
                    window.location.href = obj.url;
                  }
            });
        }

        {% endif %}
});
</script>
{% endblock %}
