{% extends "base.html" %}

{% block title %}Upload file{% endblock %}
{% block content %}
{{ form.errors }}
{% if documents %}
<table class="table table-striped">
    <tr>
        <th>id </th>
        <th>Input file</th>
        <th>Output file</th>
        <th>Date</th>
    </tr>
{% for document in documents %}
    <tr>
        <td>{{ document.id }}</td>
        <td><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></td>
        <td><a href="{{ document.outfile.url }}">{{ document.outfile.name }}</a></td>
        <td>{{ document.created }} <span class="text-muted">( UTC )</span> </td>
    </tr>
    {% endfor %}
</table>

{% else %}
    <p>No documents.</p>
{% endif %}
    <!-- Upload form. Note enctype attribute! -->
    <form action="/bulk-testing/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
        <p>
            {{ form.docfile.errors }}
            {{ form.docfile }}
        </p>
        <p>{{ form.input_type }}</p>
        <label>{{ form.only_1st_restaurant }} Only 1st Restaurant</label>
        <p><input type="submit" value="Upload" /></p>
    </form>

{% endblock content %}