<!DOCTYPE html>
<html lang="en">
<head>
    <title>TrainingPortal: {% block title %}{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/boldprocessor/style.css" />
	
</head>

<body>

     <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">FoodWeasel Training Portal</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse pull-right">
            {% if user.is_authenticated %}
            <form class="navbar-form navbar-left" role="search" method="get" action="/search">
                <div class="form-group form-group-sm">
                  <input type="text" class="form-control" placeholder="Search" name="search">
                </div>
                <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
            </form>
            {% endif %}
          <ul class="nav navbar-nav">
              {% if user.is_authenticated %}
              <li><a href="/">Home</a></li>
              <li><a href="/review">Catalog Questions</a></li>
              <!--<li><a href="">No Tag Questions</a></li>-->
              {% if user.is_staff or user.is_superuser %}
                <li><a href="/progress">Reports</a> </li>
                <li><a href="/admin">Admin Panel</a> </li>
              {% endif %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.username|capfirst }}&nbsp;<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/logout">Sign Out</a></li>
                  </ul>
            </li>

              {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="container">
	    <!-- <div class="col-md-3" id="sidebar">
	        {% block sidebar %}{% endblock %}
	    </div> -->
	
	    <div  class="col-md-12" id="content">
	        {% block content %}{% endblock %}
	    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
     <script src="/static/boldprocessor/jquery.wikiblurb.js/"></script>
    {% block jquery %}{% endblock %}
</body>
</html>